:root {
  --header-height: 70px;
  --header-scroll-height: 70px;
}

html,
body {
  width: 100%;
  // -webkit-touch-callout: none;
  // -webkit-user-select: none;
  // -khtml-user-select: none;
  // -moz-user-select: none;
  // -ms-user-select: none;
  // user-select: none;
}

.container {
  max-width: 1600px;
  width: 100%;
  padding-right: 24px;
  padding-left: 24px;
  margin-right: auto;
  margin-left: auto;
}

.main-container {
  padding-top: var(--header-height);
}

.comm-section {
  padding: 90px 0;
  position: relative;
}

.mb16 {
  margin-bottom: 16px !important;
}

.mb40 {
  margin-bottom: 40px !important;
}

.mb0 {
  margin-bottom: 0px !important;
}

.mt0 {
  margin-top: 0px !important;
}

.pt0 {
  padding-top: 0 !important;
}

.pr0 {
  padding-right: 0 !important;
}

.pb0 {
  padding-bottom: 0 !important;
}

.text-center {
  text-align: center;
}

.bg-beige {
  background: var(--clr-beige);
}

.bg-dgrey {
  background: var(--clr-dgrey);
}

.toaster {
  display: none;
  position: fixed;
  bottom: -20%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: #323232;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  z-index: 999;
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  max-width: 350px;
}

.toaster.show {
  display: block;
  bottom: 10%;
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.over-hidden {
  overflow: hidden;
}

// Home Starts
.banner-section {
  padding-top: var(--header-height);
  .anim();
}

.banner-box {
  height: calc(100dvh - var(--header-height));
  .flex();
}

.banner-wrap {
  max-width: 1245px;
  width: 100%;
  height: 609px;
  border-radius: 74px;
  overflow: hidden;
  position: relative;
  .flex();
}

.info-dummy {
  max-width: 684px;
  width: 100%;
  height: 100%;
}

.banner-img {
  width: 561px;
  height: 100%;
  flex: 1;
  position: relative;
  z-index: 1;

  span {
    content: "";
    width: 35%;
    height: 100%;
    background: #01002f;
    position: absolute;
    border-radius: 74px 0 0 74px;
    overflow: hidden;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.banner-info {
  .flex(center,flex-start);
  flex-direction: column;
  padding: 10px 42px;
  height: 100%;
  border-radius: 74px;
  overflow: hidden;
  position: absolute;
  z-index: 2;
  right: 0;
  max-width: 684px;
  // .anim();

  .comm-para {
    margin-bottom: 66px;
  }
}

.journey-height {
  height: 350dvh;
}

.journey-section {
  padding: 80px 0;
  position: relative;
}

.journey-trigger {
  position: absolute;

  &-1 {
    top: 0vh;
  }

  &-2 {
    top: 100vh;
  }

  &-3 {
    top: 200vh;
  }
}

.journey-wrap {
  .flex(space-between,center);
  gap: 24px;
  height: 100%;
}

.journey-box {
  height: calc(100dvh - (var(--header-height) + 360px));
}

.journey-sticky {
  position: sticky;
  top: calc(var(--header-height) + 30px);
}

.journey-list {
  ul {
    transform: translateY(120px);
  }

  li {
    font-size: 80px;
    font-weight: 700;
    line-height: 1.3;
    color: rgba(51, 51, 51, 0.2);
    .anim();
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    &.active {
      color: #000;
    }
  }
}

.journey-circle {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 1px solid var(--clr-beige);
  position: relative;

  span {
    background: var(--clr-dgrey);
    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 100%;
    overflow: hidden;
  }
}

.circle {
  &1 {
    top: 10%;
    left: -7%;
  }

  &2 {
    top: 10%;
    right: -7%;
  }

  &3 {
    bottom: -14%;
    right: calc(50% - 17px);
  }
}

.journey-swiper-wrap {
  max-width: 500px;
}

.journey-swiper {
  width: 100%;

  .journey-pagination {
    display: none;
  }
}

.journey-hdn {
  display: none;
}

.journey-para {
  p {
    font-size: 24px;
    line-height: 1.5;
    font-weight: 500;
    color: #000;
  }
}

.contact-wrap {
  .flex(space-between,flex-start);
  gap: 24px;
}

.contact-form {
  max-width: 700px;
}

.contact-info {
  .flex(space-between,flex-start);
  flex-direction: column;
  gap: 30px;

  .comm-sec-hdn {
    margin: 0;
  }
}

.contact-hdn {
  font-size: 22px;
  color: #000;
  line-height: 1.3;
  font-weight: 500;
  margin-bottom: 8px;
}

.contact-box {
  margin-bottom: 36px;

  a {
    font-size: 16px;
    color: #000;
    line-height: 1.3;
    font-weight: 500;
    .anim();

    &:hover {
      color: #fff;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.client-swiper {
  overflow: visible;

  .swiper-wrapper {
    padding-bottom: 30px;
  }
}

.client-box {
  width: 100%;
  padding: 30px 20px;
  border-radius: 8px;
  overflow: hidden;
  background: #f0eae6;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 14px;
  position: relative;

  p {
    font-size: var(--fs24);
    color: #000;
    line-height: 1.5;
    font-weight: 500;
    text-align: center;
  }

  &::after {
    content: "";
    width: 40px;
    height: 40px;
    background: url(../img/arrow-up-right.svg) no-repeat center;
    background-size: 20px 20px;
    background-color: #fff;
    position: absolute;
    border-bottom-left-radius: 16px;
    overflow: hidden;
    top: 0;
    right: 0;
    transform: translate(100%, -100%);
    z-index: 2;
    .anim(0.4s);
  }

  &:hover {
    .client-logo {
      filter: grayscale(0);
    }

    &::after {
      transform: translate(0, 0);
    }
  }
}

.client-logo {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  overflow: hidden;
  background: #fff;
  filter: grayscale(1);
  .flex();
  .anim(0.4s);

  img {
    width: 60px;
    height: 60px;
    object-fit: contain;
    border-radius: 100%;
    overflow: hidden;
  }
}

.testimonial-swiper {
  overflow: visible;

  .swiper-wrapper {
    padding: 30px 0;
  }

  .swiper-slide {
    display: flex;
    height: auto;
  }
}

.testimonial-box {
  width: 100%;
  padding: 24px;
  border-radius: 20px;
  background: #fff;
  border: 1px solid #f0eae6;
  position: relative;

  .comm-para {
    position: relative;
    z-index: 2;
    overflow: hidden;

    &::after {
      content: "";
      width: 300px;
      height: 300px;
      background: url(../img/quotes.svg) no-repeat;
      background-size: contain;
      position: absolute;
      bottom: -32%;
      left: -8%;
      opacity: 0.1;
    }

    p {
      overflow: hidden;
      overflow-y: auto;
      height: 240px;
      padding-right: 6px;
      position: relative;
      z-index: 2;

      &::-webkit-scrollbar {
        width: 4px;
      }

      &::-webkit-scrollbar-thumb {
        background: rgba(50, 50, 50, 0.5);
        border-radius: 10px;
      }

      &::-webkit-scrollbar-track {
        border-radius: 10px;
        background: var(--clr-beige);
      }
    }
  }
}

.testi-hdn-wrap {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(50, 50, 50, 0.1);
}

.testi-hdn {
  font-size: var(--fs40);
  font-weight: 500;
  line-height: 1.1;
  color: #000;
  text-transform: uppercase;
}

.testi-star {
  border: 1px solid #f0eae6;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 8px;
  background: var(--clr-dgrey);
  border-radius: 6px;
  position: absolute;
  top: -23px;
  right: 23px;

  img {
    width: 26px;
    height: 26px;
  }

  span {
    font-size: 24px;
    font-weight: 500;
    color: #fff;
  }
}
// Home Ends
